nav{
    background-color: #f0f0f0d0;
    display: flex;
    flex-direction: column;
    width: 13%;
    height: 300px;
    margin-top: 30px;
    position: fixed;
   div{
       display: column;
       margin: 20px 20px;;
       text-align: center;   }
   }
 
   
.Router{
  div{
  
display: inline-block;
margin-left: 300px;
margin-top: 100px;
div{
  margin:0;
  padding: 0;
}
   }
}

.NavBar
{ display: flex;
  flex-direction: row;
  background-color: #f0f0f0d0;
height: 50px;
margin: 0;
a{
  margin: 15px;
}
}